.customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.customers__item {
  height: 92px;

  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.customers__link {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;

  fill: var(--customers-logo-color);

  border: 1px solid var(--customers-logo-color);
  border-radius: 4px;

  transition: border-color 250ms var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.customers__icon {
  transition: fill 250ms var(--cubic);

  width: 106px;
  height: 60px;
  fill: var(--customers-logo-color);

  .customers__link:hover &,
  .customers__link:focus & {
    fill: var(--accent-color);
  }
}
