.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-hero-footer);
}

.address-block {
  flex-grow: 1;
}

.logo-bottom {
  margin-bottom: 20px;
  color: var(--accent-color);

  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  text-decoration: none;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-light {
  color: var(--white-color);
}

.contacts {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.contacts a {
  color: var(--address-info-footer);
}

.contacts a.address {
  display: inline-block;

  color: var(--white-color);
}

.contacts-item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-box-one {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-box-two {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-boxes {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 61px;
    margin-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
