/* index.html */
.header {
  border-bottom: 1px solid #ececec;

  background-color: var(--white-color);
}
.header__container {
  @media screen and (max-width: 767.98px) {
    position: relative;
    padding: 16px 15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.logo {
  color: var(--accent-color);

  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__dark {
  color: var(--primary-text-color);
}

.navigation {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    // display: flex;

    // justify-content: center;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.nav {
  @media screen and (min-width: 768px) {
    display: flex;

    justify-content: center;
    // margin-left: 88px;
  }
  // @media screen and (min-width: 1200px) {
  //   margin-left: 93px;
  // }
}

.nav-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
    // margin-bottom: 32px;
  }
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.nav__link {
  position: relative;
  transition: color 250ms var(--cubic);

  display: block;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  @media screen and (max-width: 767.98px) {
    &--current {
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    &--current {
      color: var(--accent-color);
      &::after {
        position: absolute;
        content: '';
        // min-width: 48px;
        height: 4px;
        left: 0;
        right: 0;
        bottom: -1px;

        background: #2196f3;
        border-radius: 2px;
      }
    }
  }
}

.feedback {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    direction: column;
    margin-left: auto;
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.14;
  }
}

.feedback-mob {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__item {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }
}

.feedback__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.feedback__link {
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);

  color: var(--text-color);

  font-weight: 500;

  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 767.98px) {
    font-size: 24px;
    line-height: 1.17;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.feedback__link--other-color {
  @media screen and (max-width: 767.98px) {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.18;
  }
}

.feedback__icons-mail {
  width: 14px;
  height: 10px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
  .feedback__link:hover &,
  .feedback__link:focus & {
    fill: var(--accent-color);
  }
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.feedback__icons-tel {
  width: 10px;
  height: 14px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
  .feedback__link:hover &,
  .feedback__link:focus & {
    fill: var(--accent-color);
  }
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
