.cards {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.cards a {
  display: block;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.cards-item {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.cards-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms linear;

  .cards a:hover &,
  .cards a:focus & {
    transform: translateY(0);
  }
}

.cards-box {
  margin: 0;
  padding: 20px 24px 20px 24px;
  background-color: var(--white-color);

  border: 1px solid #eeeeee;
  border-top: none;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}

.cards-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-text {
  margin: 0;
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
}
