.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter-item {
  display: inline-block;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 8px;
  }
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.filter-button {
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

  display: inline-block;
  border: transparent;
  border-radius: 4px;

  padding: 6px 22px;
  min-width: 73px;

  color: var(--primary-text-color);
  background-color: var(--bgc-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
