/* social-footer */

.soc-block {
  @media screen and (max-width: 767.98px) {
    margin: 0;
    display: block;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: 206px;
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.soc-block .title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
}

.soc-block a {
  transition: background-color 250ms var(--cubic);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.soc-block-list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.soc-block-item {
  & + & {
    margin-left: 10px;
  }
}

.soc-block-icons {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
