.subscription-block {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: 570px;
  }
}

.subscription-block .title {
  margin: 0;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
