.modal {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 500ms;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  .backdrop.is-hidden & {
    transform: translate(0) scale(0.3) rotate(-360deg);
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  cursor: pointer;

  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icons {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms var(--cubic);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}
