:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --bgc-color: #f5f4fa;
  --bgc-hero-footer: #2f303a;
  --address-info-footer: rgba(255, 255, 255, 0.6);

  --social-links-color: #afb1b8;
  --customers-logo-color: #afb1b8;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
